body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(8, 8, 8);
}
header{
    width: 100%;
    height: 80px;
    background-color: rgb(222, 76, 43);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    z-index: 999;
    top:0px;
    >.title{
        font-size: 40px;
        font-weight: bold;
        margin-left: 30px;
        margin-right: 10px;
    }
    >.title:hover{
        color: rgb(219, 241, 241);
    }
    >nav{
        margin-right: 70px;
        >a{
            margin-left: 100px;
            color: black;
            text-decoration: none;
            padding: 0px;
        }
        >a:hover{
            color: aqua;
        }
    }
    >.image img {
        width: 20px;
        padding: 10px;
    }
}
main{
    >.poster{
        margin: 5px;
        display: flex;
        overflow-x: auto;
        border: 1px solid black;
        position: relative;
        cursor: pointer;
        >img{
            width: 100%;
            height: 500px;
            z-index: 20;
        }
    }
    >.best{
        width: 99%;
        height: 520px;
        display: flex;
        overflow: auto;
        position: relative;
        justify-content: center;
        flex-wrap: wrap;
        >h2{
            height: 50px;
            width: 100%;
            text-align: center;
            color:rgb(219, 241, 241);
            text-shadow: 5px 2px rgb(96, 159, 159);
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 40px;
        }
        >.imej{
            height: 420px;
            width: 100%;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            overflow-x: auto;
            position: relative;
            background-color: black;
            >img{
                height: 300px;
                width: 230px;
                padding: 45px;
                transition: all 0.5s ease;
            }
            >img:hover{
                width: 240px;
                height: 310px;
                background-color: rgba(110, 123, 151, 0.63);;
            }
            >.sinopsis{
                display:flex;
                flex-direction: column;
                width: 420px;
                padding: 15px;
                box-sizing: border-box;
                >.kotak{
                    transition: all 0.5s ease;
                    color:black;
                }
            }
            >.rate{
                display: flex;
                flex-wrap: wrap;
                width: 420px;
                height: 300px;
                padding: 10px;
                box-sizing: border-box;
                justify-content: center;
                >.tag{
                    transition: all 0.5s ease;
                    border: 1px solid rgb(2, 2, 2);
                    border-radius: 5px;
                    color: rgb(2, 2, 2);
                    padding: 5px;
                    margin-top: 25px;
                    margin-right: 25px;
                    height: 20px;
                }
                >.tag:hover{
                    background-color: rgba(127, 160, 160, 0.712);
                }
                >.pi{
                    transition: all 0.5s ease;
                    white-space: break-spaces; 
                    color:black;
                    line-height: 23px; 
                }
            }
        }
        >.imej:hover{
            height: 420px;
            width: 100%;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            overflow-x: auto;
            position: relative;
            background-color: black;
            >img{
                height: 300px;
                width: 230px;
                padding: 45px;
                transition: all 0.5s ease;
            }
            >img:hover{
                width: 240px;
                height: 310px;
                background-color: rgba(110, 123, 151, 0.63);
                cursor: pointer;
            }
            >.sinopsis{
                display:flex;
                flex-direction: column;
                width: 420px;
                padding: 15px;
                box-sizing: border-box;
                >.kotak{
                    color: rgba(255, 255, 255, 0.858);
                    text-shadow: 2px 2px rgb(96, 159, 159);
                }
            }
            >.rate{
                display: flex;
                flex-wrap: wrap;
                width: 420px;
                height: 300px;
                padding: 10px;
                box-sizing: border-box;
                justify-content: center;
                >.tag{
                    border: 1px solid aqua;
                    border-radius: 5px;
                    color: white;
                    padding: 5px;
                    margin-top: 25px;
                    margin-right: 25px;
                    height: 20px;
                }
                >.tag:hover{
                    background-color: rgba(127, 160, 160, 0.712);
                }
                >.pi{
                    white-space: break-spaces; 
                    color:rgb(241, 243, 245); 
                    line-height: 23px; 
                    text-shadow: 2px 2px rgb(96, 159, 159);
                }
            }
        }
    }
    >.now{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        overflow: auto;
        box-sizing: border-box;
        padding: 10px;
        >.title {
            font-family: cursive;
            font-weight: larger;
            font-style: normal;
            color: white;
            height: 50px;
            width: 100%;
            margin: 5px;
        }
        >.image{
            color: white;
            width: 100%;
            margin: 10px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            >.satu{
                width: 55%;
                display: flex;
                flex-wrap: wrap;
                cursor: pointer;
                >img{
                    width: 200px;
                    height: 100px;
                    border-radius: 10px;
                    margin: 15px;
                }
                >.caption{
                    width: 380px;
                }
            }
            >.dua{
                margin-top: -400px;
                margin-left: 40px;
                width: 43%;
                height: 400px;
                >h4{
                    margin: 15px;
                    padding: 15px;
                }
            }
        }
    }
    >.trailer{
        width: 99%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        justify-content: center;
        >h2{
            height: 50px;
            width: 100%;
            color:rgb(219, 241, 241);
            text-shadow: 2px 2px rgb(96, 159, 159);
            margin-top: 0px;
            margin-bottom: 5px;
            margin-left: 20px;
            font-size: 30px;
        }
        >.iframe{
            justify-content: center;
            align-items: center;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            overflow-x: auto;
            width: 99%;
            height: 100%;
            >iframe{
                background-color: rgb(85, 76, 76);
                border-radius: 40px;
                margin: 20px;
                height: 200px;
                width: 300px;
            }
        }
    }
}
footer{
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    >.gap{
        width: 100%;
        height: 200px;
        background-color: black;
    }
    >.satu{
        width: 100%;
        height: 200px;
        background-color:black;
        border-radius: 5px;
        color: rgb(219, 241, 241);
        display: flex;
        >.title{
            width: 25%;
            height: 200px;
            >h2{
                font-size: 40px;
                font-weight: bold;
                text-align: center;
                margin-top: 30px;
                margin-bottom: 0px;
            }
            >p{
                margin-top: 0px;
                white-space: break-spaces;
            }
        }
        >.link{
            width: 25%;
            height: 200px;
            align-content: center;
            color: rgb(110, 106, 106);;
            >p{
                text-align: center;
                font-size: 12px;
                font-family: cursive;
                white-space: break-spaces;
            }
            >p:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
        >.support{
            width: 25%;
            height: 200px;
            align-content: center;
            >p{
                color: white;
                text-align: center;
                font-size: 12px;
                font-family: cursive;
                white-space: break-spaces;
            }
            >.image img{
                width: 20px;
                height: 20px;
                padding: 5px;
                margin-left: 30px;
                background-color: rgb(170, 167, 167);
                border-radius: 10px;
            }
        }
    }
    >.dua{
        margin: 0px;
        width: 100%;
        height: 50px;
        background-color: brown;
        >.copy{
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            color: rgb(219, 241, 241);
        }
    }
}